
<%= form_tag import_from_excel_path, multipart: true, id: "uploadform" do %>
  <%= file_field_tag :file, id: "input_file" %>
  <%= submit_tag "Upload", id: "submit" %>
<% end %>
<br/>
<style>
.progress-bar {
      height: 35px;
      width: 250px;
      border: 2px solid darkblue;
    }
    .progress-bar-fill{
     height: 100%;
     width: 0%;
     background:lightblue;
     display: flex;
     align-items: center;
     transition: width 0.25s;
    }
  .progress-bar-text{
    margin-left: 10px;
    font-weight: bold;
  }
</style>
<div class="progress-bar" id="progressBar">
<div class="progress-bar-fill">
<span class="progress-bar-text">0%</span>
</div>
</div>

<br/>
<table>
<thead>
<tr>
<th>sno</th>
<th>name</th>
<th>email</th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
<td><%= user.sno %></td>
<td><%= user.name %></td>
<td><%= user.email %></td></tr>
<% end %>
</tbody>
</table>

<script>
const upform = document.getElementById("uploadform");
const inpfile = document.getElementById("input_file");
const progressBarFill = document.querySelector("#progressBar >.progress-bar-fill");
const progressBarText = progressBarFill.querySelector(".progress-bar-text");

upform.addEventListener("submit", uploadFile);

function uploadFile (e){
  e.preventDefault();

  const xhr = new XMLHttpRequest();

  xhr.open("POST", "import_from_excel");
  xhr.upload.addEventListener("progress", e => {
    
    const percent = e.lengthComputable ? (e.loaded/ e.total) * 100 : 0;
    progressBarFill.style.width = percent.toFixed(2) + "%";
    progressBarText.textContent = percent.toFixed(2) + "%";
  });
  xhr.send(new FormData(upform));
}
</script>