
<%= form_tag import_from_excel_path, multipart: true, id: "uploadform" do %>
  <%= file_field_tag :file, id: "input_file" %>
  <%= submit_tag "Upload", id: "submit" %>
<% end %>




<div id="upload-spinner" class="hidden z-9999 fixed left-0 top-0 right-0 bottom-0 w-full h-full bg-gray-600 opacity-95 flex items-center justify-center text-white flex-col">
    <div class="flex items-center justify-center text-xl flex-col gap-2">
        <svg class="animate-spin -ml-1 mr-3 h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        Uploading Media . .
        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div id="per-bar" class="bg-green-600 text-xs font-medium text-green-100 text-center py-1 leading-none rounded-full" style="width: 5%"></div>
        </div>
        <div id="per-bar-in-nums"> 1% </div>
    </div>
</div>

<br/>
<table>
<thead>
<tr>
<th>sno</th>
<th>name</th>
<th>email</th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
<td><%= user.sno %></td>
<td><%= user.name %></td>
<td><%= user.email %></td></tr>
<% end %>
</tbody>
</table>

<script>
$(document).ready(function(){
  // File upload via Ajax
  $("#uploadform").on('submit', function(e){
    $('#upload-spinner').removeClass('hidden')
      e.preventDefault();
      $.ajax({
        type: 'POST',
          url: 'import_from_excel',
          xhr: function() {
              var xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener("progress", function(evt) {
                  if (evt.lengthComputable) {
                    var percentComplete = evt.loaded / evt.total;
                    percentComplete = parseInt(percentComplete * 100);
          
                    var elem = document.getElementById('per-bar');
                    elem.style.width = percentComplete + "%";
                    var num_per = document.getElementById('per-bar-in-nums');
                    num_per.textContent = percentComplete + "%";
                  }
              }, false);
              return xhr;
          },
          
          data: new FormData(this),
          contentType: false,
          cache: false,
          processData:false,
          success: () => {
            window.location.href = "/"
          }
      });
  });
});

</script>