username:<%= @user.name %>
<br/>
email:<%= @user.email %>
<br/>
Phone-number:<%= @user.mobile %>
<br/>
Branch:<%= @user.branch %>
<br/>
CGPA:<%= @user.cgpa %>
<p>Hello there, this is our image</p>

<%= image_tag attachments['id.jpg'].url %>

