<center>
<h3>Upload excel file to send welcome email</h3>
 <%= form_tag import_from_excel_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class => "btn" %>
<% end %>
<br/>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search", :class => 'search' %>
<% end %>
  <table>
    <thead >
      <tr>
      <th>
        <div class="form-check">
        <input type="checkbox" id="delete-all" class="form-check-input" >
        <label class="form-check-label" for="delete-all" ></label>
        </div>
         </th>
        <th>sno</th>
        <th>name</th>
        <th>email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr id="user_row_<%= user.id %>">
        <td>
        <div class="form-check">
        <input type="checkbox" id="user_<%= user.id %>" class="user-select-check" data-user-id="<%= user.id %>">
        <label class="form-check-label" for="user_<%= user.id %>" ></label>
        </div>
         </td>
          <td><%= user.sno %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="button" id="btn-delete" style="display:none;">Delete Users</button>
</center>
<div id="success"><div>
<%= will_paginate @users, :class => 'pagination' %>

