<center>
<h3>Upload excel file to send welcome email</h3>
 <%= form_tag import_from_excel_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class => "btn" %>
<% end %>
<br/>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search", :class => 'search' %>
<% end %>
<%= form_tag destroy_multiple_users_path, method: :delete do %>
  <table>
    <thead >
      <tr>
        <th>check to delete</th>
        <th>sno</th>
        <th>name</th>
        <th>email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box_tag 'user_ids[]', user.id, nil, { multiple: true } %></td>
          <td><%= user.sno %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= submit_tag "delete", :class => 'btn btn-primary btn-xs'  %>
<% end %>
<br/>
<%= form_with url: "/delete_all", method: :delete do |form| %>
<%= form.button "DeleteAll", :class => 'btn btn-primary btn-xs' %>
<% end %>
</center>
<%= will_paginate @users, :class => 'pagination' %>

