<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.price %></td>
        <td><%= link_to "Show", book %></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
        <td><%= link_to "Destroy",@book, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New book", new_book_path %><br>
<%= link_to "pdf file", books_path(format: 'pdf') %><br>

<%= form_with do |form| %>
<%= form.check_box :read_book %>
<%= form.label :read_book, "read book" %>
<%= form.check_box :add_book %>
<%= form.label :add_book, "add book" %>
<% end %>

<%= form_with do |form| %>
<%= form.radio_button :age, "child" %>
<%= form.label :age_child, "I am younger than 21" %>
<%= form.radio_button :age, "adult" %>
<%= form.label :age_adult, "I am over 21" %>
<% end %>

<%= form_with do |form| %>
<%= form.select :city, ["Faridabad", "Delhi"] %>
<% end %>

<%= form_with do |form|%>
<%= form.select :city,
      {
        "Faridabad" => ["sector-1","sector-2" ],
        "Delhi" =>  ["sector-1","sector-2"],
      },
      selected: "sector-1" %>
      <% end %>

<%= form_with do |form| %>
<%= form.time_zone_select :time_zone %>
<% end %>
<%#<%= check_box_tag "accept" %>













