<h3> showing  books</h3>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <tr>
<td><%= @book.name %></td>
<td><%= @book.price %></td>
</tr>
</tbody>
</table>

<%= form_with model: @book do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :price %>
  <%= form.submit %>
<% end %>

<%= form_with model: @book do |book_form| %>
  <%= book_form.text_field :name %>
  <%= fields_for :author, @book.author do |author_form| %>
    <%= author_form.text_field :name %>
  <% end %>
<% end %>

<%= form_with model: @book do |book_form| %>
<%= book_form.select :title, ["just started","learn more"]%>
<% end %>

