<h3> showing  books</h3>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <tr>
<td><%= @book.name %></td>
<td><%= @book.price %></td>
</tr>
</tbody>
</table>

<%= form_with model: @book do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :price %>
  <%= form.submit %>
<% end %>

<%= form_with model: @book do |book_form| %>
  <%= book_form.text_field :name %>
  <%= fields_for :author, @book.author do |author_form| %>
    <%= author_form.text_field :name %>
  <% end %>
<% end %>

<%= form_with model: @book do |book_form| %>
<%= book_form.select :title, ["just started","learn more"]%>
<% end %>

<%= form_with model: @book do |form| %>
<%= form.date_select :updated_at %>
<% end %>

<%= form_with model: @book do |form| %>
<%= form.time_select :updated_at %>
<% end %>

<%= form_with model: @book do |form| %>
<%= form.datetime_select :updated_at %>
<% end %>

<%= select_year 1999 %>
<%= select_month 10 %>
<%= select_day 19 %>

<%= form_with do |form|%>
<%= form.collection_select :book,  Author.all, :id, :name, prompt: true %>
<% end %>

<%#<%= form_with do |form|%>
<%#<%= form.collection_radio_buttons :book,  Author.all, :id, :name, prompt: true %>
<%#<% end %>

<%#<%= form_with do |form|%> 
<%#<%= form.collection_check_boxes :book,  Author.all, :id, :name, prompt: true %>
<%#<% end %> 

<%#<%= form_with model: @book do |form|%>
<%#<%= form.text_field :name %>
<%#<% end %>

<%#<%= form_with model: @book, builder: FormBuilder do |form| %>
<%#<%= form.text_field :name %>
<%#<% end %>

<%#<%= form_with model: @book do |book_form| %>
  <%#<%= book_form.text_field :name %>
  <%#<%= fields_for :author, @book.author do |author_form| %>
    <%#<%= author_form.text_field :name %>
     <%#<% @book.author.books.each do |book| %>
    <%#<%= book_form.fields_for book, index: book.id do |book_form| %>
      <%#<%= book_form.text_field :name %>
    <%#<% end %>
  <%#<% end %>
  <%#<% end %>
<%#<% end %>

<%#<%= form_with model: @book do |form| %>
  <%#orders:
  <%#<ul>
    <%#<%= form.fields_for :orders do |orders_form| %>
      <%#<li>
        <%#<%= orders_form.check_box :_destroy %>
        <%#<%= orders_form.label :card_number %>
        <%#<%= orders_form.text_field :card_number %>
        <%#...
      <%#</li>
    <%#<% end %>
  <%#</ul>
<%#<% end %>
<%= form_with url: "/uploads", multipart: true do |form| %>
  <%= file_field_tag :picture %>
<% end %>




