<h1>signup</h1>

<%= form_with model: @user, url: signup_path do |form| %>
<%= form.label :email %>
<%= form.text_field :email, placeholder: "enter email" %>
<%= form.label :password %>
<%= form.password_field :password, placeholder: "password" %>
<%= form.label :password %>
<%= form.password_field :password_confirmation, placeholder: "retype password" %>
<%= form.submit %>
<% end %>